body {overflow-y: scroll;}
#main-container {padding: 40px 0;}

ol li.list-group-item {display: list-item;list-style-position: inside; position: relative;}
ol li.list-group-item input {position: absolute; right: 3px; top: 2px; width: 90%;}

textarea.form-control.textarea-compact {height:75px;}

footer.navbar {min-height: 20px;}